@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="content">
    <section class="grid-holder">
        <section class="grid">
            <div class="heading-holder">
                <h3 class="content-heading"><span><em class="h-left"></em><span class="inner-heading">Contact Us</span><em class="h-right"></em></span></h3>
            </div>
            <article class="column c-three-fourth">
                <div class="blog-post">
                    <div class="map-holder">
                        <div style="width: 602px">
                            <iframe width="602" height="253" src="http://regiohelden.de/google-maps/map_en.php?width=602&amp;height=253&amp;hl=en&amp;q=Wilhelmstra%C3%9Fe%204A%2C%2070182%20Stuttgart+(RegioHelden%20GmbH)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                    </div>
                    <br class="clear" />
                    <div class="blog-holder">
                        <div class="left">
                            <strong class="name">Get In Touch With Us!</strong>
                            <div class="contact-box">
                                <p>In dignissim tincidunt est sed vea. Mauris vitae faucibus leo. Donec facilisisus justo in ierdum. Aliquam ac augue turpis, sit a fermentum orci. Donec sed sem eget mi laoreet ornare q ve lacus.Endisse lobortis purus a purus luctus vulpte. Nunc lacus nunc, sollicitudin at placerat a, dictum eg purus. Duis at est in enim cursus volutpat vitae vitae neque. </p>
                            </div>
                        </div>
                        <div class="right">
                            <strong class="name">Contact Info</strong>
                            <div class="contact-us">
                                <p>
                                    12345 North Main Street,

                                    New York, NY 00000
                                </p>
                                <ul class="list">
                                    <li>Phone: 1.800.000.6000</li>
                                    <li>Fax: 1.800.555.67800</li>
                                    <li>Email: <a href="mailto:&#108;&#111;&#114;&#101;&#109;&#064;&#105;&#112;&#115;&#117;&#109;&#046;&#099;&#111;&#109;">&#108;&#111;&#114;&#101;&#109;&#064;&#105;&#112;&#115;&#117;&#109;&#046;&#099;&#111;&#109;</a></li>
                                    <li>Web: <a href="#">www.xyz.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="blog-holder contact">
                        <br>
                        <strong class="name">Leave a Message</strong><br>
                        <div class="contact-flied">
                            <form name="contactform" method="post" action="contact.php">
                                <fieldset>
                                    <div class="row">
                                        <input type="text" name="name" value="yOUR nAME*">
                                        <input name="email" type="text" value="yOUR eMAIL">
                                    </div>
                                    <textarea name="comments" rows="42" cols="42">yOUR COMMENT</textarea>
                                    <input type="submit" value="SUBMIT" class="submit">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
            <article class="column c-one-third">
                <div class="about-box">
                    <div class="right-sidebar">
                        <div class="sidebar-h"><strong class="right-heading"><span>Up coming Events</span></strong></div>
                        <ul class="comments">
                            <li>
                                <div class="clock">23 <span>Dec</span></div>
                                <a href="#" class="worship">Worship Service</a>
                                <p>December 23, 2012 (10:00 - 11:00)</p>
                            </li>
                            <li>
                                <div class="clock">24 <span>Dec</span></div>
                                <a href="#" class="worship">Christmas Service</a>
                                <p>December 24, 2012 (11:00 - 01:00)</p>
                            </li>
                            <li>
                                <div class="clock">25 <span>Dec</span></div>
                                <a href="#" class="worship">Christmas Day Service</a>
                                <p>December 25, 2012 (10:30 - 02:00)</p>
                            </li>
                            <li>
                                <div class="clock">31 <span>Dec</span></div>
                                <a href="#" class="worship">New Year Service</a>
                                <p>December 31, 2012 (11:30 - 01:00)</p>
                            </li>
                        </ul>
                        <a href="#" class="vies-calender">View Full Event Calender</a>
                    </div>
                    <div class="right-sidebar">
                        <div class="sidebar-h"><strong class="right-heading"><span>Photos gallery</span></strong></div>
                        <ul class="gallery-list">
                            <li><a href="#"><img src="images/ch-28.jpg" alt="image" /></a></li>
                            <li><a href="#"><img src="images/ch-29.jpg" alt="image" /></a></li>
                            <li><a href="#"><img src="images/ch-30.jpg" alt="image" /></a></li>
                            <li><a href="#"><img src="images/ch-31.jpg" alt="image" /></a></li>
                            <li><a href="#"><img src="images/ch-32.jpg" alt="image" /></a></li>
                            <li><a href="#"><img src="images/ch-33.jpg" alt="image" /></a></li>
                            <li><a href="#"><img src="images/ch-34.jpg" alt="image" /></a></li>
                            <li><a href="#"><img src="images/ch-35.jpg" alt="image" /></a></li>
                            <li><a href="#"><img src="images/ch-36.jpg" alt="image" /></a></li>
                            <li><a href="#"><img src="images/ch-28.jpg" alt="image" /></a></li>
                            <li><a href="#"><img src="images/ch-29.jpg" alt="image" /></a></li>
                            <li><a href="#"><img src="images/ch-30.jpg" alt="image" /></a></li>
                        </ul>
                    </div>
                </div>
            </article>
        </section>
    </section>
</div>
  </div>
