@{
    ViewData["Title"] = "Home Page";
}

<div class="gallery-holder slideshow">
    <div class="gallery">
        <div class="gholder">
            <a class="btn-prev" href="#">next</a>
            <div class="gmask">
                <ul>
                    <li>
                        <img src="images/img-1.jpg" alt="image" />
                        <div class="left">
                            <div class="banner-caption"><a href="#">Sed ut peris unde omni</a><span>&nbsp;</span></div>
                            <div class="banner-caption caption-1"><a href="#">invore veritatis et quasi itecto</a><span>&nbsp;</span></div>
                        </div>
                    </li>
                    <li>
                        <img src="images/banner-img-2.jpg" alt="image" />
                        <div class="left">
                            <div class="banner-caption"><a href="#">1 Sed ut peris unde omni</a><span>&nbsp;</span></div>
                            <div class="banner-caption caption-1"><a href="#">1 invore veritatis et quasi itecto</a><span>&nbsp;</span></div>
                        </div>
                    </li>
                    <li>
                        <img src="images/banner-img-3.jpg" alt="image" />
                        <div class="left">
                            <div class="banner-caption"><a href="#">2 Sed ut peris unde omni</a><span>&nbsp;</span></div>
                            <div class="banner-caption caption-1"><a href="#">2 invore veritatis et quasi itecto</a><span>&nbsp;</span></div>
                        </div>
                    </li>
                </ul>
            </div>
            <a class="btn-next" href="#">next</a>
        </div>
        <div class="pagination">
            <ul>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
    </div>
    <span class="banner-bottom2"><img src="images/banner-bottom.png" alt=""></span>
</div>

<div class="content mt0">
    <article class="banner-bottom">
        <h2>INCARNATION MOVEMENT</h2>
        <span class="detail">i like the silent church before the <em>service</em> begins, better than any <em>preaching.</em></span>
    </article>
    <section class="grid-holder">
        <section class="grid">
            <div class="heading-holder">
                <h3 class="content-heading"><span><em class="h-left"></em><span class="inner-heading">OUR services</span><em class="h-right"></em></span></h3>
            </div>
            <article class="column c-one-fourth service-box">
                <div class="new-box">
                    <div class="ch-item ch-img-1">
                        <div class="ch-info">
                            <h4><a href="#">Pray To God</a></h4>
                            <p>Ligula ac eros blandit faucibused</p>
                        </div>
                    </div>
                </div>
                <div class="text">
                    <p>Aenean blandit ligula ac eros blandit faucibused orci..</p>
                </div>
            </article>
            <article class="column c-one-fourth service-box">
                <div class="new-box">
                    <div class="ch-item ch-img-2">
                        <div class="ch-info">
                            <h4><a href="#">KEEP FAITH</a></h4>
                            <p>Ligula ac eros blandit faucibused</p>
                        </div>
                    </div>
                </div>
                <div class="text">
                    <p>Genean blandit ligula ac eros blandit faucibused orci..</p>
                </div>
            </article>
            <article class="column c-one-fourth service-box">
                <div class="new-box">
                    <div class="ch-item ch-img-3">
                        <div class="ch-info">
                            <h4><a href="#">BLIND TRUST</a></h4>
                            <p>Ligula ac eros blandit faucibused</p>
                        </div>
                    </div>
                </div>
                <div class="text">
                    <p>Blandit ligula ac eros blandit faucibused orci..</p>
                </div>
            </article>
            <article class="column c-one-fourth service-box">
                <div class="new-box">
                    <div class="ch-item ch-img-4">
                        <div class="ch-info">
                            <h4><a href="#">OBEY RULES</a></h4>
                            <p>Ligula ac eros blandit faucibused</p>
                        </div>
                    </div>
                </div>
                <div class="text">
                    <p>Ligula ac eros blandit faucibused orci..</p>
                </div>
            </article>
        </section>
    </section>
    <section class="grid-holder">
        <section class="grid">
            <div class="heading-holder">
                <h3 class="content-heading"><span><em class="h-left"></em><span class="inner-heading">OUR GALLERY</span><em class="h-right"></em></span></h3>
            </div>
            <article class="column c-one-third">
                <div class="img-holder slide-1"> <a href="gallery-singlepost.html"><img src="images/img-4.jpg" alt="image" /></a> </div>
            </article>
            <article class="column c-one-third">
                <div class="img-holder slide-1"> <a href="gallery-singlepost.html"><img src="images/img-2.jpg" alt="image" /></a> </div>
            </article>
            <article class="column c-one-third">
                <div class="img-holder slide-1"> <a href="gallery-singlepost.html"><img src="images/img-3.jpg" alt="image" /></a> </div>
            </article>
        </section>
    </section>
    <div class="buy-now">
        <section class="grid-holder">
            <section class="grid">
                <article class="column c-one-half logo-holder">
                    <h2 class="c-logo"><a href="index.html">the church</a></h2>
                </article>
                <article class="column c-one-half">
                    <span class="c-theme">
                        an extra ordinary and original
                        theme for a perfect church.
                    </span> <a href="#" class="buy">buy now</a>
                </article>
            </section>
        </section>
    </div>
    <div class="heading-holder">
        <h3 class="content-heading"><span><em class="h-left"></em><span class="inner-heading">EVENTS SCHEDULE</span><em class="h-right"></em></span></h3>
    </div>
    <article class="events calender-box">
        <div class="calender">
            <div id="calendar"></div>
        </div>
        <div class="img-details">
            <ul id="s3">
                <li>
                    <img src="images/ch-2.jpg" alt="image" />
                    <div class="info-1">
                        <div class="left">
                            <span class="info-heading">1- Jesus : an eye into the soul !</span>
                            <p>Lets create some dummy content here which goes for your outstanding event details. Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                        <a href="event-detail.html" class="btn-a">Event Details</a>
                    </div>
                </li>
                <li>
                    <img src="images/calender3.jpg" alt="image" />
                    <div class="info-1">
                        <div class="left">
                            <span class="info-heading">2- Jesus : an eye into the soul !</span>
                            <p>Lets create some dummy content here which goes for your outstanding event details. Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                        <a href="event-detail.html" class="btn-a">Event Details</a>
                    </div>
                </li>
                <li>
                    <img src="images/img-5.jpg" alt="image" />
                    <div class="info-1">
                        <div class="left">
                            <span class="info-heading">3- Jesus : an eye into the soul !</span>
                            <p>Lets create some dummy content here which goes for your outstanding event details. Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                        <a href="event-detail.html" class="btn-a">Event Details</a>
                    </div>
                </li>
            </ul>
        </div>
        <img alt="shade" class="shade" src="images/bottom-shade.png">
    </article>
    <section class="grid-holder">
        <section class="grid">
            <article class="column c-one-third">
                <div class="post">
                    <h4>about THE CHURCH</h4>
                    <p>
                        Sed ut perspiciatis unde omnis iste natsit voluptatem accusantium doloremque
                        laudantium, totam rem. Sed ut perspiciatis unde omnis iste natus error accusantium doloremque rem.
                    </p>
                    <div class="read-more"><a href="church-event.html">Read More</a></div>
                </div>
            </article>
            <article class="column c-one-third">
                <div class="post">
                    <ul class="post-slide" id="s1">
                        <li>
                            <h4>BLOG POST</h4>
                            <strong class="top-line">Some Longer Blog Post Title Goes Here</strong>
                            <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy aliquam erat volutpat.</p>
                            <span class="tech-text">Posted by St. Patrick in <em>Teachings</em></span>
                        </li>
                        <li>
                            <h4>BLOG POST 2</h4>
                            <strong class="top-line">Some Longer Blog Post Title Goes Here</strong>
                            <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy aliquam erat volutpat.</p>
                            <span class="tech-text">Posted by St. Patrick in <em>Teachings</em></span>
                        </li>
                    </ul>
                    <a href="#" class="arrow-left">left</a> <a href="#" class="arrow-last-right">right</a>
                </div>
            </article>
            <article class="column c-one-third">
                <div class="post">
                    <h4>CHARITY INDICATOR</h4>
                    <img src="images/rating-img.jpg" alt="rating" /> <span class="rate">$ 6,456,731</span> <span class="target">away from target</span>
                    <div class="read-more generous"><a href="#">Be Generous</a><span>&nbsp;</span></div>
                </div>
            </article>
        </section>
    </section>
</div>
