

body{

	background:url(../images/bg-body-perpel.gif);

}

.header-wrapper.subnav-fixed{

	border-bottom:2px solid #6c688a;

}

.searh-holder{

	border-radius:5px;

	background:#6c688a;

	display:inline-block;

	width:40px;

	height:30px;

}

.buy-now {

    background: url(../images/buy-now-perpel.png) no-repeat ;

}



.calender-box, .news-holder .left, .skCopyright, .skMiddleBlock{

	background:#747095;

}

.dark.projekktor .skControls{

	background:#747095;

}

.nav ul li:hover, .nav ul li.active{

	border-bottom:1px solid #747095;

}

.chzn-results{

	background:#747095;

}

ul.pagination li a{

	background:#747095;

	border:3px solid #9894b8;

}

ul.pagination li a:hover{

	background:#9894b8;

	border:3px solid #747095;

}

.s-link {

	background:#747095;

	color:#fff;

}

.news-holder .left span{

    text-shadow: 0 3px 1px #747095;

}



.gallery-holder .pagination .active a, .gallery-holder .pagination a:hover{

	border:4px solid #747095;

}

.detail em, 

.post-heading em, 

.add-comment a,

ul.news-nav li span em,

.name,

.tags a:hover span, 

.tags a.active span,

.let-talk a,

.view-all,

.footer-tweet a, 

.blog-comments a,

.prayer-request label,

.contact-flied .row input,

.church-theme em,

.contact-us ul.event-list li span, 

.contact-us ul.event-list li a,

.contact-flied textarea,

.map-add p span,

.news-holder .right p a,

.g-heading,

.gallery-titel a,

#dates a,

.tech-text em{

	color:#747095;

}

.readmorebtn:hover,

.pagination-list li a.prev:hover, 

.pagination-list li a.next:hover{

	background:#747095 !important;

}



.gallery-titel a:hover{

	color:#747095;

}

.add-comment a,

.prayer-heading span{

	color:#747095 !important;

}

/*.send,

.submit,

.btn,

.btn-a {

    background: linear-gradient(to bottom, #89abb8 0%, #89abb8 21%, #89abb8 31%, #89abb8 49%, #89abb8 72%, #89abb8 100%) repeat scroll 0 0 transparent;

}*/.ch-item,

.prayer-heading span em,

.readmorebtn.large.gray, 

.readmorebtn.medium.gray, 

.readmorebtn.small.gray, 

#toggle-view li h3.gray,

.readmorebtn,

.meter,

.pagination-list li a.prev, 

.pagination-list li a.next,

#toggle-view li h3,

.dropcap.color,

.blog-date{

	background-color:#9e9bb5;

}
.row-form input,
.row-form textarea,
.contact-flied .row input,
.contact-flied textarea{
	background-color:#9e9bb5;
	color:#fff;
}
.ui-datepicker-other-month .ui-state-default { color: #9e9bb5; }

.ch-item:hover {

	box-shadow: 

		inset 0 0 0 110px rgba(82,76,130, 0.6),

		inset 0 0 0 16px rgba(82,76,130, 0.6),

		0 1px 2px rgba(0,0,0,0.1);

}

.name span{

	color:#747095;

}

.meter > span{

	background-color:#747095;

}

.ch-item{

	background:#747095;

}

#horizontal-tabs ul.tabs li, 

#horizontal-tabs .tabscontent, 

#vertical-tabs ul.tabs li, 

#vertical-tabs .tabscontent, 

.pagination li a, 

.breadcrumbs.gray, 

.tables-column .list li.even, 

#toggle-view li h3.normal{background-color:#a8a3cc;}

/*.read-more a:after {

    border-color: transparent transparent transparent #5b2703;

    border-style: solid;

    border-width: 14px 0 14px 12px;

    content: "";

    height: 0;

    position: absolute;

    right: -12px;

    top: 0;

    width: 0;

}

.read-more a {

    background: none repeat scroll 0 0 #5b2703;

    color: #FFFFFF;

    float: left;

    font-size: 14px;

    height: 29px;

    line-height: 29px;

    margin: 0;

    padding: 0 10px 0 5px;

    position: relative;

    text-decoration: none;

}*/

.share-request a:after {

    border-color: transparent transparent transparent #747095;

    border-style: solid;

    border-width: 14px 0 14px 12px;

    content: "";

    height: 0;

    position: absolute;

    right: -12px;

    top: 0;

    width: 0;

}

.share-request a {

    background: none repeat scroll 0 0 #747095;

    color: #EEEEEE;

    float: right;

    font-size: 14px;

    height: 29px;

    line-height: 29px;

    margin: 0;

    padding: 0 20px 0 15px;

    position: relative;

    text-decoration: none;

}

.inner-heading{

	color:#fff;

	background:url(../images/bg-main-heading-perpul.png) repeat-x left bottom;

}

.h-left{

	background:url(../images/bg-main-heading-perpul.png) repeat-x left top;

}

.h-right{

	background:url(../images/bg-main-heading-perpul.png) repeat-x left -51px;

}

.ch-img-1 {

	background-image:url(../images/pray-perpul.png);

	background-repeat:no-repeat;

}

.ch-img-2 { 

	background-image:url(../images/faith-perpul.png);

	background-repeat:no-repeat;

}

.ch-img-3 { 

	background-image:url(../images/trust-perpul.png);

	background-repeat:no-repeat;

}

.ch-img-4 { 

	background-image:url(../images/rules-perpul.png) ;

	background-repeat:no-repeat;

}