@charset "utf-8";
/* CSS Document */



/* Alert Boxes

=========================================================*/



.bodywrapper {
	font-family: 'droid_sans,regular';
	font-size:14px;
	line-height:20px;
	color:#333;
}
.bodywrapper p {
	margin:0 0 5px 0;
	font-size:12px
}
.bodywrapper p a {
	color:#ccc;
}
.bodywrapper h3 {
	border-bottom: 1px solid #C8C6C2;
	color: #2E1308;
	font-family: 'droid_sans,regular';
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	margin: 0 0 15px;
	padding: 0 0 5px;
	position: relative;
	width: 100%;
}
.short-heading {
	border-bottom:0;
	color: #2E1308;
	font-family: 'droid_sans,regular';
	font-size: 16px;
	font-weight: normal;
	display:block;
	line-height: 22px;
	margin: 0 0 15px;
	padding: 0 0 5px;
	position: relative;
	width: 100%;
	text-transform:inherit;
}
.lightbox .item {
	padding-bottom:10px;
	border-bottom:4px solid #C8C6C2;
}
.recent-work .item h4, .lightbox .item h4, .portfolio .item h4 {
	padding-top:10px;
	text-align:center;
	color:#2E1308;
	font-family: 'droid_sans,regular';
	font-weight:normal;
	margin:0;
}
.lightbox .item img.pic {
	width: 100%;
	height: auto;
	border:0;
}
.readmorebtn.medium.black, .readmorebtn.small.black, .readmorebtn.large.black, .toggle-view li h3.black, .dropcap.black {
	background: none repeat scroll 0 0 #000000 !important;
}
#horizontal-tabs ul.tabs li, #horizontal-tabs .tabscontent, #vertical-tabs ul.tabs li, #vertical-tabs .tabscontent, .pagination li a, .breadcrumbs.gray, .tables-column .list li.even, .toggle-view li h3.normal {
	background-color: #E4DFD9;
}
.readmorebtn {
	background:#C45C27;
	float:left;
	border:0;
	cursor:pointer;
	width:auto;
	border-radius:0;
	height:auto;
	padding:6px 8px;
	color:#fff;
	margin:0 10px 10px 0;
}
.readmorebtn:hover {
	background:#e67a43;
	text-decoration:none;
}
.readmorebtn.large {
	padding:13px 23px;
}
.readmorebtn.medium {
	padding:12px 13px;
}
.readmorebtn.large.gray,  .readmorebtn.medium.gray,  .readmorebtn.small.gray,  .toggle-view li h3.gray {
	background:#4e4e4e !important;
}
.readmorebtn.large.gray:hover,  .readmorebtn.medium.gray:hover,  .readmorebtn.small.gray:hover,  .toggle-view li h3.gray:hover {
	background:#757575 !important;
}
.alert {
	padding:12px 20px 12px 55px;
	position:relative;
	margin-bottom:19px;
}
.alert p {
	margin:0;
}
.error {
	background-image: url(../images/error000.png);
	background-position: 5% 50%;
	background-repeat: no-repeat;
	background-color: #fff1f2;
	color: #c98f92;
}
.success {
	background-image: url(../images/success0.png);
	background-position: 5% 50%;
	background-repeat: no-repeat;
	background-color: #f4ffdf;
	color: #94b654;
}
.info {
	background-image: url(../images/info0000.png);
	background-position: 5% 50%;
	background-repeat: no-repeat;
	background-color: #e4f7ff;
	color: #699fb6;
}
.notice {
	background-image: url(../images/notice00.png);
	background-position: 5% 50%;
	background-repeat: no-repeat;
	background-color: #fdf7d5;
	color: #c49a51;
}
.close {
	width:18px;
	height:18px;
	position:absolute;
	right: 15px;
	top: 15px;
	cursor:pointer;
}
.error .close {
	background:url(../images/error-cl.png) no-repeat;
}
.success .close {
	background:url(../images/success-.png) no-repeat;
}
.info .close {
	background:url(../images/info-clo.png) no-repeat;
}
.notice .close {
	background:url(../images/notice-c.png) no-repeat;
}
/* Accordion

=========================================================*/

.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	zoom: 1;
}
#accordion h3 {
	border: 1px solid #C8C6C2;
	margin-bottom: 7px;
	background:#E8E5E0;
	padding: 8px 8px 8px 15px;
	width: 95%;
	line-height:23px;
}
#accordion h3 a {
	color:#2E1308;
}
#accordion p {
	padding:0 15px 0px;
}
#accordion .plus {
	background:url(../images/faqclose.png) no-repeat 0 0;
	width: 29px;
	height: 29px;
	float: right;
	margin-top: -3px;
}
#accordion .minus {
	background:url(../images/openfaq.png) no-repeat 0 0;
	width: 29px;
	height: 29px;
	float: right;
	margin-top: -3px;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
	overflow: hidden;
	zoom: 1;
}
/* Progress Bar

=========================================================*/

.meter {
	background:#fed2ba;
}
.meter > span {
	background:#fcbf9f;
}
.progress-bar {
	margin:0;
	padding:0;
}
.progress-bar h5 {
	margin:0 0 8px;
}
.progress-bar li {
	margin-bottom:12px;
	list-style:none;
}
.meter {
	height: 23px;
	position: relative;
}
.meter > span {
	display: block;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.meter > span:after, .animate > span > span {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}
.animate > span:after {
	display: none;
}
/* Buttons

=========================================================*/

.button {
	display:inline-block;
	margin:8px 10px 8px 0;
	border:none;
	cursor:pointer;
	text-shadow:none !important;
	color:#fff;
	background:#C45C27;
}
.button:hover {
	text-decoration:none;
}
.button.small {
	padding: 10px 10px;
}
.button.medium {
	padding: 12px 13px;
}
.button.large {
	padding: 13px 20px;
}
/* Tabs

=========================================================*/



/* horizontal tabs */

#horizontal-tabs {
	margin-bottom:15px;
}
#horizontal-tabs ul.tabs {
	overflow:hidden;
	margin:0;
	padding:0;
}
#horizontal-tabs ul.tabs li {
	float:left;
	padding:9px 18px;
	cursor:pointer;
	color:#2e1308;
	font: normal 13px TrocchiRegular;
	list-style:none;
	margin-right:2px;
}
#horizontal-tabs ul.tabs li.current {
	color:#c45c27;
	padding: 10px 18px;
}
#horizontal-tabs .tabscontent {
	padding:15px;
	display:none;
	overflow: hidden;
}
#horizontal-tabs .tabscontent.no-padding {
	padding-left:0;
	padding-right:0;
}
/* vertical tabs */

#vertical-tabs {
	margin-bottom:15px;
}
#vertical-tabs .contents {
	float:right;
	width:66%;
}
#vertical-tabs ul.tabs {
	overflow:hidden;
	width:34%;
	float:left;
	margin:0;
	padding:0;
}
#vertical-tabs ul.tabs li {
	display:inline-block;
	padding:12px 20px;
	margin-bottom:4px;
	cursor:pointer;
	width:100%;
	color:#2E1308;
	font: normal 13px;
}
#vertical-tabs ul.tabs li.current {
	color:#C45C27;
}
#vertical-tabs .tabscontent {
	padding:15px;
	display:none;
}
/* Dropcaps

=========================================================*/

.dropcap {
	padding:5px 10px;
	float: left;
	margin: 5px 5px 0 0;
	color:#fff;
}
.dropcap.color {
	background:#FCBF9F;
}
/* Toggle

=========================================================*/

.toggle-view {
	margin:0;
	padding:0;
	list-style:none;
}
.toggle-view span.link {
	color:#fff;
}
.toggle-view li {
	position:relative;
	cursor:pointer;
	margin-bottom:15px;
}
.toggle-view li h3 {
	padding:2px 10px;
	color:#fff;
	font-size:13px;
	background:#FCBF9F;
	width:96%;
}
.toggle-view span.link {
	position:absolute;
	right:10px;
	top:6px;
}
.toggle-view .panel {
	padding:10px;
	display:none;
}
/* BreadCrumbs

=========================================================*/



ul.breadcrumbs {
	margin:0 0 0 0;
	padding:20px 0 20px 10px;
	list-style:none;
	width:100%;
	overflow:hidden;
}
ul.breadcrumbs li {
	float:left;
	padding:0 10px 0 20px;
	ont-size: 15px;
	line-height: 26px;
	color:#333;
	font-family: 'droid_sans,regular';
}
ul.breadcrumbs li a {
	color:#333;
}
ul.breadcrumbs li.active {
	background: url(../images/bg-breadcrumb-1.png) no-repeat left 6px;
	padding-left:20px;
}
ul.breadcrumbs li a:hover {
	color:#000;
	text-decoration:none;
}
/* Blockquote

=========================================================*/

blockquote {
	background:url("../images/blockqou.png") no-repeat 0 0;
	background-repeat:no-repeat;
	background-position:16px 20px;
	padding:15px 15px 15px 51px;
	margin:0;
}
/* Info Box

=========================================================*/

.info-box {
	padding:20px;
	overflow:hidden;
}
/* Highlight & Tooltips

=========================================================*/

.box {
	padding:15px;
}
.colorTip {
	/* This class is assigned to the color tip span by jQuery */

	display:none;
	position:absolute;
	left:50%;
	top:-30px;
	padding:6px;
	background-color:white;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	line-height:1;
	text-decoration:none;
	text-align:center;
	text-shadow:0 0 1px white;
	white-space:nowrap;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
.pointyTip, .pointyTipShadow {
	/* Setting a thick transparent border on a 0x0 div to create a triangle */

	border:6px solid transparent;
	bottom:-12px;
	height:0;
	left:50%;
	margin-left:-6px;
	position:absolute;
	width:0;
}
.pointyTipShadow {
	/* The shadow tip is 1px larger, so it acts as a border to the tip */

	border-width:7px;
	bottom:-14px;
	margin-left:-7px;
}
.colorTipContainer {
	position:relative;
	text-decoration:none !important;
	display:inline-block;
}
.white .pointyTip {
	border-top-color:white;
}
.white .pointyTipShadow {
	border-top-color:#ddd;
}
.white .colorTip {
	background-color:white;
	border:1px solid #DDDDDD;
	color:#555555;
}
.yellow .pointyTip {
	border-top-color:#f9f2ba;
}
.yellow .pointyTipShadow {
	border-top-color:#e9d315;
}
.yellow .colorTip {
	background-color:#f9f2ba;
	border:1px solid #e9d315;
	color:#5b5316;
}
.black .pointyTip {
	border-top-color:#333;
}
.black .pointyTipShadow {
	border-top-color:#111;
}
.black .colorTip {
	background-color:#333;
	border:1px solid #111;
	color:#fcfcfc;
	text-shadow:none;
}
/* List Styles

=========================================================*/

.list-styles ul {
	margin:0;
	padding:0;
	list-style:none;
}
.square-list li a, .check-list li a, .plus-list li a, .arrow-list li a, .cross-list li a, .star-list li a, .minus-list li a, .arrow2-list li a, .circle-list li a {
	color:#595959;
}
.square-list li, .check-list li, .plus-list li, .arrow-list li, .cross-list li, .star-list li, .minus-list li, .arrow2-list li, .circle-list li {
	padding:5px 5px 5px 15px;
	line-height:20px;
}
.square-list li:hover, .check-list li:hover, .plus-list li:hover, .arrow-list li:hover, .cross-list li:hover, .star-list li:hover, .minus-list li:hover, .arrow2-list li:hover, .circle-list li:hover {
	padding-left:18px;
	background-position:1% 50%;
}
.square-list li {
	background:url(../images/square00.png) no-repeat;
	background-position:0 50%;
}
.check-list li {
	background:url(../images/check000.png) no-repeat;
	background-position:0 50%;
}
.plus-list li {
	background:url(../images/plus0000.png) no-repeat;
	background-position:0 50%;
}
.arrow-list li {
	background:url(../images/arrow000.png) no-repeat;
	background-position:0 50%;
}
.cross-list li {
	background:url(../images/cross000.png) no-repeat;
	background-position:0 50%;
}
.star-list li {
	background:url(../images/star0000.png) no-repeat;
	background-position:0 50%;
}
.minus-list li {
	background:url(../images/minus000.png) no-repeat;
	background-position:0 50%;
}
.arrow2-list li {
	background:url(../images/arrow200.png) no-repeat;
	background-position:0 50%;
}
.circle-list li {
	background:url(../images/circle00.png) no-repeat;
	background-position:0 50%;
}
/* Pagination

=========================================================*/

.pagination-list {
	padding:0;
	overflow:hidden;
	margin:0;
	list-style:none;
	text-align:center;
}
.pagination-list li {
	margin:5px 5px 15px 0;
	display:inline-block;
}
.pagination-list li a {
	padding:3px 8px;
	color:#fff;
	display:block;
	background: none repeat scroll 0 0 #FFB57A;
	border: 3px solid #FEDDBD;
	font-size:12px;
}
.pagination-list li a:hover {
	background: none repeat scroll 0 0 #EA9F62;
	border: 3px solid #EBD7C4;
}
.pagination-list .current {
	color:#595959;
}
.pagination-list li a.prev, .pagination-list li a.next {
	color:#fff;
	background: none repeat scroll 0 0 #FFB57A;
	border: 3px solid #FEDDBD;
}
.pagination-list li a.prev:hover,  .pagination-list li a.next:hover {
	background: none repeat scroll 0 0 #EA9F62;
	border: 3px solid #EBD7C4;
	text-decoration:none;
}
.caption {
	border:0 !important;
	position:relative;
}
.caption .pic {
	width:100%;
}
.caption .hover-effect {
	position:absolute;
	top:0;
	width:100%;
	opacity:.9;
	filter:alpha(opacity=90); /* IE patch */
	display:none;
}
.caption .hover-effect.big {
}
.caption:hover .hover-effect.link {
	background:#131313 url(http://themes.jozoor.com/crevision/dark/images/icons/link.png) no-repeat;
	background-position:50% 50%;
	display:block;
}
.caption:hover .hover-effect.zoom {
	background:#131313 url(http://themes.jozoor.com/crevision/dark/images/icons/zoom.png) no-repeat;
	background-position:50% 50%;
	display:block;
}
/* Small & Social Icons

=========================================================*/

/* small icons */

.icons li {
	padding:5px 0;
	height:20px;
}
.tabscontent.color .icons li {
	padding: 5px;
}
* .icon {
	display:inline-block;
	background:url(../images/icons.png) no-repeat;
	vertical-align:middle;
	margin: -2px 4px 0 0;
}
* .icon.gray {
	background:url(../images/icons-gr.png) no-repeat;
}
* .icon.white {
	background:url(../images/icons-white.png) no-repeat;
}
/* social */

* .social-icon {
	display:inline-block;
	background:url(../images/social-icons.png) no-repeat;
	vertical-align:middle;
	margin:0 1px 5px 0;
}
.social-icon.transparent {
	margin:3px 8px 8px 9px;
}
/* icons in icons.css file */

/* Videos

=========================================================*/

.video-wrap {
	height: 0;
	padding-top: 25px;
	padding-bottom: 67.5%;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}
.video-wrap.vimeo {
	padding-top: 0;
}
.video-wrap.widescreen {
	padding-bottom: 57.25%;
}
.video-wrap embed, .video-wrap iframe, .video-wrap object, .video-wrap video {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}



/* Responsive */

@media (max-width: 767px) {
 .video-wrap {
 padding-top: 0;
}
}
/* Tables

=========================================================*/

table {
	width:94%;
	margin-bottom: 10px;
	text-align:left;
	border-collapse: collapse;
	border-spacing: 0;
}
table th, table td {
	padding:11px;
	border:1px solid #C8C6C2;
}
